html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.calculator {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #2cbdc2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
}

.display {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  text-align: right;
  padding: 10px;
  font-size: 24px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s, transform 0.2s; 
}

button:hover {
  background-color: #aa3333;
  color: #ffffff; 
  transform: scale(1.05); 
}

button:active {
  background-color: #ddd;
  transform: scale(0.98);
}

.button-clear {
  background-color: #f44336;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.button-clear:hover {
  background-color: #d32f2f;
  color: white; /* Цвет текста при наведении */
  transform: scale(1.1);
}

.button-backspace {
  background-color: #ff9800;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.button-backspace:hover {
  background-color: #f57c00;
  color: white; /* Цвет текста при наведении */
  transform: scale(1.1);
}

.button-percent {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.button-percent:hover {
  background-color: #388E3C;
  color: white; /* Цвет текста при наведении */
  transform: scale(1.1);
}

.button-division {
  background-color: #2196F3;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.button-division:hover {
  background-color: #1976D2;
  color: white; /* Цвет текста при наведении */
  transform: scale(1.1);
}

.button-advanced-toggle {
  background-color: #3f51b5;
  color: white;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-advanced-toggle:hover {
  background-color: #303f9f;
  color: white; /* Цвет текста при наведении */
  transform: scale(1.1);
}

.advanced-functions {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.advanced-functions button {
  background-color: #f0f0f0;
  color: #333;
  padding: 15;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  margin: 10px; 
}

.advanced-functions button:hover {
  background-color: #e0e0e0;
  color: #333; /* Цвет текста при наведении */
  transform: scale(1.1);
}

.history {
  margin-top: 20px;
}

.history h2 {
  font-size: 18px;
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history li {
  font-size: 16px;
}

.light-theme .calculator {
  background-color: #ffffff;
  color: #000000;
}

.light-theme .display {
  background-color: #f9f9f9;
  border-color: #ccc;
}

.light-theme button {
  background-color: #eee;
  color: #000000;
}

.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

.dark-theme .calculator {
  background-color: #444444;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dark-theme .display {
  background-color: #555555;
  border-color: #444444;
}

.dark-theme button {
  background-color: #555555;
  color: #ffffff;
}

.dark-theme button:active {
  background-color: #666666;
}

.theme-toggle-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.dark-theme .theme-toggle-button {
  background-color: #444444;
  color: #ffffff;
}

.dark-theme .theme-toggle-button:hover {
  background-color: #555555;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .calculator {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 10px;
  }

  .display {
    height: 50px; 
    font-size: 20px; 
    padding: 5px; 
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
  }

  .buttons button {
    padding: 15px; 
    font-size: 16px; 
    border-radius: 5px;
  }

  .advanced-functions {
    grid-template-columns: repeat(4, 1fr);
  }
}
